html{
	background-image: url(./../img/bg.svg);
}

body {
	background-image: url(./../img/bgwhite.png);
	height: 800px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-radius: 20px;
}

.exit {
	background: url(../img/x.png) no-repeat;
	position: relative;
	width: 20px;
	height: 20px;
	top: 3%;
	left: 95%;
	transform: translate(-50%, 50%);
	border: 0;
}

.popup-bg {
	background: url(../img/shapes2.png) no-repeat;
	position: relative;
	width: 400px;
	height: 200px;
	top: 16%;
	left: 53%;
	margin-right: -50%;
	transform: translate(-50%, 50%);
	
}

.popup-face{
	background: url(../img/face1.png) no-repeat;
	display: block;
	position: absolute;
	top: 15%;
	left: 50%;
	margin-right: -50%;
	padding: 120px;
	transform: translate(-50%, 50%);
}

main {
	position: relative;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 50%);
}

h1,
p {
	font-family: 'Concert One', cursive;
	text-align: center;
}

h1 {
	font-size: 36px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	color: rgba(151, 159, 174)
}

.button {
	background-color: orange;
	border-radius: 20px;
	border: 0;
	padding: 15px 40px;
	position: absolute;
  left: 50%;
  margin-right: -50%;
	transform: translate(-50%, 50%);
	font-family: 'Concert One', cursive;
	color: rgb(255, 255, 255);
	font-size: 18px;	
}